<!DOCTYPE html>
{% load static %}
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-scale=1.0"> 
        <title>Rakathon Visual Search</title>
             
    </head>
    
    <body>
            <div class="container" style="font-family: serif" >
                {% include 'web_home_cover.html' %}
                {% include 'homecontent.html' %}
                {% include 'navbar.html' %}
            </div>
    </body>
    </html>
